.search-container{
  margin-right: 100px;
  /* margin-top: 18px; commented due to search-error, relative-absolute, do check */ 
  position: relative;
}
.search-box{
  width: 550px;
  height: 40px;
  padding-left: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  gap: 2px;
}
.select-container{
  height: 90%;
  display: flex;
  align-items: center;
  gap: 2px;
  width: fit-content;
}
.search-title{
  width: 100%;
  height: 90%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;

}
.search-type{
  margin-left: 4px;
}



/* imp */
.select-dropdown {
  position: relative;
}

.arrow {
  margin-left: 8px;
  transition: transform 0.2s ease;
}

.arrow-up {
  transform: rotate(180deg);
}
/* imp */
.dropdown-menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background-color: #222222;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 10;
  max-height: 320px;
  overflow-y: auto;
}

.dropdown-item {
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #424242;
}
.select-button {
  height: 36px;
  background-color: #222222;
  color: white;
  padding: 0 16px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 80px;
  cursor: pointer;
}
.search-button{
  background-color: #222222;
  height: 36px;
  min-width: 40px;
  padding: 0 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* Add custom scrollbar styling */
.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 4px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 4px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

.search-err {
  font-size: 13px;
  margin-left: 7px;
  color: red;
  position: absolute;
  bottom: -18px; /* Push it below the container */
  left: 0;
  width: 100%;
  text-align: left;
}
.search-box-err{
  border-width: 2px;
  border-style: solid;
  border-color: rgb(247, 87, 87);
  border-radius: 10px;
}

